{% extends "base.html" %} {% block main %}
<div class="col-xs-12", style="text-align: center">
    <h2>Please decide to which extent you agree with the following statement:</h2>
    <p>A web page that loads at the speed shown in the video provides a satisfactory experience.</p>
    <div class="btn-group-vertical" data-toggle="buttons" id="Inputs">
        <label class="btn btn-default"><input id="StronglyPositive" name="sentiment" required="" type="radio" value="Strongly Positive" />5 (most satisfied)
        </label> 
        <label class="btn btn-default"><input id="Positive" name="sentiment" required="" type="radio" value="Positive" />4 (satisfied)
        </label>
        <label class="btn btn-default"><input id="Neutral" name="sentiment" required="" type="radio" value="Neutral" />3 (medium)
        </label> 
        <label class="btn btn-default"> <input id="Negative" name="sentiment" required="" type="radio" value="Negative" />2 (unsatisfied)
        </label> 
        <label class="btn btn-default"> <input id="StronglyNegative" name="sentiment" required="" type="radio" value="Strongly Negative" />1&nbsp;(most unsatisfied)
        </label> 
    </div>
</div>

<!-- Close internal style sheet --><!-- External JS references -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<form action="back2video", method="POST", style="text-align:center">
    <button type="submit" class="btn btn-primary">Watch again</button>
</form>

<form action="next", method="POST", style="text-align:center">
    <button type="submit" class="btn btn-primary">Next video</button>
</form>

{% endblock %}