<!-- HIT template: Sentiment-v3.0 --><!-- The following snippet enables the 'responsive' behavior on smaller screens -->
{% extends "base.html" %} {% block main %}
<meta content="width=device-width,initial-scale=1" name="viewport" />
<!-- End instructions --><!-- Categorization Layout -->

<div class="row" id="workContent">


<!-- Place the content (in this case a block of text) below. If content is not text then replace with the relevant html element (image, url, video) below. -->
  <div class="panel-body">
      <video width="100%" controls="controls">
          <source src="https://github.com/eastOffice/QoEProject/blob/master/videos/2.mp4">
      </video>
  </div>

  <form action="grade", method="POST">
      <button type="submit" class="btn btn-primary">Go to Grading</button>
  </form>
</div>

{% endblock %}