<!-- HIT template: Sentiment-v3.0 --><!-- The following snippet enables the 'responsive' behavior on smaller screens -->
{% extends "base.html" %} {% block main %}
<meta content="width=device-width,initial-scale=1" name="viewport" />
<!-- End instructions --><!-- Categorization Layout -->

<div class="row" id="workContent">


<!-- Place the content (in this case a block of text) below. If content is not text then replace with the relevant html element (image, url, video) below. -->
  <div class="panel-body", style="text-align:center">
      <video width="1024" height="576" controls="controls" >
          <source src={{video_src}}>
      </video>
  </div>

  <form action="grade", method="POST", style="text-align:center">
      <button type="submit" class="btn btn-primary">Go to Grading</button>
  </form>
</div>

  {% endblock %}